<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alterticket</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
 
    <header>
      <nav class="navbar navbar-inverse">
        <a href="/Sesion" class="navbar-brand">Inicio de sesion</a>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/Venta">Comprar boleto</a></li>
          <li><a href="/Consulta">Consultar boleto</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  

  <body>  <!-- MAIN CONTENT HERE -->
  
   

    <%- defineContent('heros') %>
    <main>
      <div >
            <%- body %>
       </div>
    </main>
    <footer>Awesome Site. Copyright &copy; 2020</footer>
  </body>
</html>