
<%- contentFor('heros')%>
<%- def%>
<%- contentFor('body') %>

<div class="container">
    <h1 class="text-center">En Alterticket estamos para Usted </h1>
    <p class="text-center">Debido a la contingencia a causa del Covid-19 hemos
         desarrollado una plataforma web para la compra y 
         gestión de boletos digitales para el uso del sistema 
         integral de transporte de Tijuana (SITT), este programa 
         fue creado como una alternativa segura para el uso de
          transporte publico reduciendo el contacto físico entre 
          personas y fomentando la sana distancia </p>
       <div class="container" >
        <div class="abs-center">
          <table >
            <tr>
             <th style="padding-right: 100px;"><img src="img/ava1.png" width="100px" height="110px"></th>
             <th style="padding-right: 100px;"><img src="img/ava2.png" width="100px" height="110px"></th>
             <th style="padding-right: 100px;"><img src="img/ava3.png" width="100px" height="110px"></th>
             <th style="padding-right: 100px;"><img src="img/ava4.png" width="100px" height="110px"></th>
            </tr>
            <tr>
               <th>Israel Lopez Pablo</th>
               <th>Rodolfo Garcia</th>
               <th>Rafael Velarde</th>
               <th>Ivan Rodriguez</th>
            </tr>
          </table>
       </div> 
       </div>
</div>