
<%- contentFor('heros')%>
<%- def%>
<link rel="stylesheet" href="/css/Sesion.css" />
  <%- contentFor('body') %>
  <section> 
    <div class="box">
        
           <div class="Row-General center  ">
                       <div class="registro">
                             <form action="/home/informacion"  method="GET">

                                <div class="Col-General center ">
                                    <p class="p">Registro Usuario del Sistema</p>
                                    <div class="boxing2">
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <label >Nombre </label>
                                            </div>
                                            <div class="boxing">
                                               <label >Apellido Paterno</label>
                                            </div>
                                                <div class="boxing">
                                                <label >Pelllido Materno </label>
                                            </div>
                                        </div>
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <input type="text" name="nombre" id="nombretxt" autofocus="">
                                            </div> 
                                            <div class="boxing">
                                                <input  type="text" name="apellido1" id="apellidoTXT1">
                                            </div>
                                            <div class="boxing">
                                                <input  type="text" name="apellido2" id="apellidoTXT2">
                                            </div>
                                        </div>
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <label >Usuario </label>
                                            </div>
                                            <div class="boxing">
                                               <label >Contraseña</label>
                                            </div>
                                                <div class="boxing">
                                                <label >Confirmar Contraseña</label>
                                            </div>
                                        </div>
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <input type="text" name="Usuario" id="Usuariotxt" autofocus="">
                                            </div> 
                                            <div class="boxing">
                                                <input  type="text" name="Contras1" id="ContrasTXT1">
                                            </div>
                                            <div class="boxing">
                                                <input  type="text" name="Contras2" id="ContrasTXT2">
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <br>
                                    <div class="Row-General center">
                                      <div class="boton">

                                                                    <label>Rol de usuario</label>
                        </div> 
                              </div>
                              <div class="Row-General center">
                                <div class="boton">

                                  <select name="select">
                                    <option value="value1"selected>Seleccione opcion</option>
                                    <option value="value2" >Administrador</option>
                                    <option value="value3">Chofer</option>
                                  </select>
                  </div> 
                        </div>
                                    <div class="Row-General center">
                                        <div class="boton">
 
                                                                      <button type="submit">Registrar</button>
                          </div> 
                                </div>
                             </form>
              

                       </div>
           </div>
    </div>
  
 </section>
