<%- contentFor('body') %>

<div class="container">
    <div class="row">       
        <div class="col-md-12">
            <div class="well well-sm">
        <table class="table">
               <thead>
                <h1  class="text-center" >Compra de boletos</h1>
                  
                <th class="th-sm" >Ruta del transporte</th>
                <th class="th-sm" >Precio del boleto</th>
                
                </thead>
                <td>Centro</td>
                <td>$14.00</td>
                <button>Comprar</button>
         </table>
</div>
</div>
</div>
</div>