
<%- contentFor('body') %>

<div class="container">
    <div class="row">       
        <div class="col-md-12">
            <div class="well well-sm">
        <table class="table">
               <thead>
                <h1  class="text-center" >Consulta de Boletos</h1>
                 <tr>     
               <th>
                 <input name="Id" placeholder="No boleto" class="form-control">
                <button type="submit" class="btn btn-danger"; >Consultar</button>

                   </th>        
                  </tr>
                  <th >Estado del boleto</th>
    <th class="th-sm" >Fecha de solicitud</th>
    <th class="th-sm" >Hora de solicitud</th>
    <th class="th-sm" >Ruta de Boletos</th>
                </thead>
         </table>
</div>
</div>
</div>
</div>