
<%- contentFor('heros')%>
<%- def%>
<link rel="stylesheet" href="/css/Sesion.css" />
<%- contentFor('body') %>
<section> 
    <div class="box">
        
           <div class="Row-General center  ">
                       <div class="registro">
                                <form action="/home/informacion"  method="GET">

                                      <div class="Col-General center ">
                                                                  <p class="Form-Titulo">Registro</p>
                     
                                                                  <div class="boxing2">
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <label >Nombre </label>
                                                                        </div>
                                                                        <div class="boxing">
                                                                           <label >Apellido Paterno</label>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <input type="text" name="User_txt" id="User_txt" autofocus="">
                                                                        </div> 
                                                                        <div class="boxing">
                                                                            <input  type="password" name="Pass_TXT" id="Pass_TXT">
                                                                        </div>
                                                                    </diV>
                                                                                        
                                                                    
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <label >Pelllido Materno </label>
                                                                        </div>
                                                                        <div class="boxing">
                                                                            <label >Usuario</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <input type="text" name="User_txt" id="User_txt" autofocus="">
                                                                        </div> 
                                                                        <div class="boxing">
                                                                            <input  type="password" name="Pass_TXT" id="Pass_TXT">
                                                                        </div>
                                                                    </diV>
                                                                              
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <label >Contraseña </label>
                                                                        </div>
                                                                        <div class="boxing">
                                                                            <label >Confirmar Contraseña </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Row-General">
                                                                        <div class="boxing">
                                                                            <input type="text" name="User_txt" id="User_txt" autofocus="">
                                                                        </div> 
                                                                        <div class="boxing">
                                                                            <input  type="password" name="Pass_TXT" id="Pass_TXT">
                                                                        </div>
                                                                    </diV>		  
                                                                    </div>
     
                                        </div>
                                        <div class="Row-General center">
                                            <div class="boton">
     
                                                                          <button type="submit">Registrar</button>
                              </div> </div>
                                   
     
                                        </div>
                                      
                              </form>
              

                        </div>
             </div>
    </div>
  
 </section>
